
.mt-5 {
    margin-top: 5px; }
  
  .pt-5 {
    margin-top: 5px; }
  
  .mb-5 {
    margin-bottom: 5px; }
  
  .pb-5 {
    margin-bottom: 5px; }
  
  .ml-5 {
    margin-left: 5px; }
  
  .pl-5 {
    margin-left: 5px; }
  
  .mr-5 {
    margin-right: 5px; }
  
  .pr-5 {
    margin-right: 5px; }
  
  .mt-10 {
    margin-top: 10px; }
  
  .pt-10 {
    margin-top: 10px; }
  
  .mb-10 {
    margin-bottom: 10px; }
  
  .pb-10 {
    margin-bottom: 10px; }
  
  .ml-10 {
    margin-left: 10px; }
  
  .pl-10 {
    margin-left: 10px; }
  
  .mr-10 {
    margin-right: 10px; }
  
  .pr-10 {
    margin-right: 10px; }
  
  .mt-15 {
    margin-top: 15px; }
  
  .pt-15 {
    margin-top: 15px; }
  
  .mb-15 {
    margin-bottom: 15px; }
  
  .pb-15 {
    margin-bottom: 15px; }
  
  .ml-15 {
    margin-left: 15px; }
  
  .pl-15 {
    margin-left: 15px; }
  
  .mr-15 {
    margin-right: 15px; }
  
  .pr-15 {
    margin-right: 15px; }
  
  .mt-20 {
    margin-top: 20px; }
  
  .pt-20 {
    margin-top: 20px; }
  
  .mb-20 {
    margin-bottom: 20px; }
  
  .pb-20 {
    margin-bottom: 20px; }
  
  .ml-20 {
    margin-left: 20px; }
  
  .pl-20 {
    margin-left: 20px; }
  
  .mr-20 {
    margin-right: 20px; }
  
  .pr-20 {
    margin-right: 20px; }
  
  .mt-25 {
    margin-top: 25px; }
  
  .pt-25 {
    margin-top: 25px; }
  
  .mb-25 {
    margin-bottom: 25px; }
  
  .pb-25 {
    margin-bottom: 25px; }
  
  .ml-25 {
    margin-left: 25px; }
  
  .pl-25 {
    margin-left: 25px; }
  
  .mr-25 {
    margin-right: 25px; }
  
  .pr-25 {
    margin-right: 25px; }
  
  .mt-30 {
    margin-top: 30px; }
  
  .pt-30 {
    margin-top: 30px; }
  
  .mb-30 {
    margin-bottom: 30px; }
  
  .pb-30 {
    margin-bottom: 30px; }
  
  .ml-30 {
    margin-left: 30px; }
  
  .pl-30 {
    margin-left: 30px; }
  
  .mr-30 {
    margin-right: 30px; }
  
  .pr-30 {
    margin-right: 30px; }
  
  .mt-35 {
    margin-top: 35px; }
  
  .pt-35 {
    margin-top: 35px; }
  
  .mb-35 {
    margin-bottom: 35px; }
  
  .pb-35 {
    margin-bottom: 35px; }
  
  .ml-35 {
    margin-left: 35px; }
  
  .pl-35 {
    margin-left: 35px; }
  
  .mr-35 {
    margin-right: 35px; }
  
  .pr-35 {
    margin-right: 35px; }
  
  .mt-40 {
    margin-top: 40px; }
  
  .pt-40 {
    margin-top: 40px; }
  
  .mb-40 {
    margin-bottom: 40px; }
  
  .pb-40 {
    margin-bottom: 40px; }
  
  .ml-40 {
    margin-left: 40px; }
  
  .pl-40 {
    margin-left: 40px; }
  
  .mr-40 {
    margin-right: 40px; }
  
  .pr-40 {
    margin-right: 40px; }
  
  .mt-45 {
    margin-top: 45px; }
  
  .pt-45 {
    margin-top: 45px; }
  
  .mb-45 {
    margin-bottom: 45px; }
  
  .pb-45 {
    margin-bottom: 45px; }
  
  .ml-45 {
    margin-left: 45px; }
  
  .pl-45 {
    margin-left: 45px; }
  
  .mr-45 {
    margin-right: 45px; }
  
  .pr-45 {
    margin-right: 45px; }
  
  .mt-50 {
    margin-top: 50px; }
  
  .pt-50 {
    margin-top: 50px; }
  
  .mb-50 {
    margin-bottom: 50px; }
  
  .pb-50 {
    margin-bottom: 50px; }
  
  .ml-50 {
    margin-left: 50px; }
  
  .pl-50 {
    margin-left: 50px; }
  
  .mr-50 {
    margin-right: 50px; }
  
  .pr-50 {
    margin-right: 50px; }
  